// General
// NOTE styles on tag selectors
// ---------------------
body {
  @extend %antialiased;
  background: $white url('images/bg.png') center repeat fixed;
  font-family: $font-default;
  color: $darkest;
}


// Overrides
// ---------------------
.material-icons {
  position: relative;
  top: .14em;
  font-size: 1em;
}



// Utilities
// NOTE use `u-` prefix for public classes
// ---------------------
