// BASE
// ------------------------------
// Document base font size in px: better not change it
$font-size-base: 16px;
$font-default: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// General unit accross the website
$unit: .5rem; // 8px grid

// Base line-height
$line-height-base: $unit*3; // 24px



// COLORS
// ------------------------------
$primary: #5764c6;
$secondary: #eff1fa;

$black: #000;
$darkest: #454d5d;
$darker: #727e96;
$dark: #acb3c2;
$light: #e7e9ed;
$lighter: #f0f1f4;
$lightest: #f8f9fa;
$white: #FFF;



// BREAKPOINTS
// ------------------------------
$breakpoints: (
    xs: 0,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
);
